{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoklaska</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'chalupa/css/rooms.css' %}">
</head>

    <form action="" method="POST">
        <h2>Rezervace termínu</h2>
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Rezervovat</button>
    </form>
{% endblock %}