{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail pokoje</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static '/chalupa/css/detail.css' %}">

</head>

<body>

    <!-- Hlavní obsah -->
    <div class="content">

        <!-- Fotka pokoje -->
        <div class="image">
            <img
                src="http://www.stoklaska.cz/obrazky/fotoalbum/2011-09-interier-chalupy/1-inter-stoklas.jpg">
        </div>

        <!-- Detail pokoje -->
        <div class="room">

            <!-- Div 1: Šipka zpět na seznam pokojů -->
            <div class="home">
                <a href="{% url 'chalupa:RoomListView' %}"><i class="fas fa-arrow-alt-circle-left">Zpět</i></a>
            </div>

            <!-- Div 2: Informace o pokoji -->
            <div class="room-info">
                <h1>{{room_name}}</h1>
                <p>Rekreační chalupa nabízí ubytování ve 3
                    podkrovních pokojích, z nichž každý má
                    vlastní sociální zařízení. K dispozici
                    je společenská místnost ze SAT TV a
                    kuchyňský kout s lednicí, mikrovlnnou
                    troubou, vařičem a varnou konvicí. Celková
                    kapacita je 10 lůžek. (2 × pokoj/4 osoby,
                    1 × pokoj/2 osoby). Možnost přistýlky – 2
                    osoby –  ve společenské místnosti, takže
                    celková kapacita je 12.</p>
            </div>

            <!-- Div 3: Rezervace -->
            <form id="booking-form" action="" method="POST">

                {% csrf_token %}

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_in">Od : </label>
                    <input type="datetime-local" id="id_check_in" name="check_in">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <label for="id_check_out">Do : </label>
                    <input type="datetime-local" id="id_check_out" name="check_out">
                </div>

                <!-- Input Div -->
                <div class="input-div">
                    <button type="submit">Rezervovat</button>
                </div>

            </form>

        </div> <!-- Konec detailu pokoje -->

    </div> <!-- Konec hlavního obsahu -->

</body>

</html>