{% extends "base.html" %}
{% load static %}
{% block title %}
    Rezervace
{% endblock %}
{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stoklaska</title>
        <!-- Main StyleSheet -->
        <link rel="stylesheet" href="{% static 'chalupa/css/calendar.css' %}">
    </head>

    <div class="clearfix">
        <a class="btn btn-outline-dark left" href="{% url 'chalupa:BookingView' %}"> Kalendář </a>
    </div>

    <form method="post">
        {% csrf_token %}
        <table class="form form-table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-outline-dark right"> Submit</button>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}