{% extends "base.html" %}
{% load static %}
{% block content %}
<body style="background-color: rgba(62,29,29,0.1);">
    <div class="container">
            <h4 class="text-center pt-3">Opravdu chcete zrušit Vaši rezervaci?</h4>
            <p class="text-center">{{ booking }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-center">
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" value="Ano, zrušit"></form>
            </form>
        </div>
    </div>
</body>
{% endblock %}