<!--<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Pokoje</title>
</head>
<body>
    <h1>Pokoje</h1>
    { for room in room_list %}
    <h2>{ room }}</h2>
    { endfor %}
</body>
</html>
-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoklaska</title>
    <!-- Main StyleSheet -->
    <link rel="stylesheet" href="{% static 'chalupa/css/rooms.css' %}">
</head>

<body style="background-color: rgba(62,29,29,0.1)">
    <!-- Brand -->
    <!--<h1 id="brand" style="color: #521b18; text-shadow: 2px 2px 0 #000">Chalupa Stoklaska - pokoje </h1> -->

    <!-- Main Content -->
    <div class="content" style="padding-top: 80px">
        {% for room in room_list %}
        <div class="room" style="border-radius: 0px; background-color: #521b18; margin: 0px; padding: 1rem">
            <a href="{% url 'chalupa:room-detail' room.pk %}">
                {% if room.image %}
                <img src="{{ room.image.url }}">
                {% endif %}
                <h2>{{room.name}}</h2>
                <p> Pro {{ room.capacity }} osoby </p>
            </a>
        </div>
        {% endfor %}
    </div>
</body>

</html>>
{% endblock %}