{% extends "base.html" %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detail pokoje</title>
        <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>

        <!-- Main StyleSheet -->
        <link rel="stylesheet" href="{% static '/chalupa/css/detail.css' %}">
    </head>

    <!-- Hlavní obsah -->
    <body style="background-color: rgba(62,29,29,0.1)">
    <div class="content mb-3">

        <!-- Fotka pokoje -->
        <div class="image col-md-8">
            {% if room_detail.image %}
                <a href="{{ room_detail.image.url }}" data-toggle="lightbox" data-gallery="gallery">
                    <img src="{{ room_detail.image.url }}" class="pt-3 m-3" alt="Picture of the room">
                </a>
            {% endif %}
            <!-- src="http://www.stoklaska.cz/obrazky/fotoalbum/2011-09-interier-chalupy/1-inter-stoklas.jpg">-->
        </div>

        <!-- Detail pokoje -->
        <div class="room col-md-3" style="padding: 70px">

            <!-- Div 1: Šipka zpět na seznam pokojů -->
            <div class="home">
                <a href="{% url 'chalupa:RoomListView' %}"><i class="fas fa-arrow-alt-circle-left">Zpět</i></a>
            </div>

            <!-- Div 2: Informace o pokoji -->
            <div class="room-info" style="color: black">
                <h1>{{ room_name }}</h1>
                <p>{{ room_detail.name }}</p>
                <p>Kapacita: Pro {{ room_detail.capacity }} osoby</p>
                <p>Přistýlka: {% if room_detail.extra_bed %} Ano {% else %} Ne {% endif %}</p>
            </div>

            <!-- Div 3: Rezervace
            <form id="booking-form" action="" method="POST">

                { csrf_token %}

                <!- Input Div ->
                <div class="input-div">
                    <label for="id_check_in">Od : </label>
                    <input type="datetime-local" id="id_check_in" name="check_in">
                </div>

                <!- Input Div ->
                <div class="input-div">
                    <label for="id_check_out">Do : </label>
                    <input type="datetime-local" id="id_check_out" name="check_out">
                </div>

                <!- Input Div ->
                <div class="input-div">
                    <button type="submit">Rezervovat</button>
                </div> -->

            </form>

        </div> <!-- Konec detailu pokoje -->

    </div> <!-- Konec hlavního obsahu -->
    </body>

{% endblock %}